
--trusted-host thefirstjedi.asuscomm.com
--index-url http://thefirstjedi.asuscomm.com:3141/gymnos/stable/+simple
--extra-index-url http://thefirstjedi.asuscomm.com:3141/gymnos/staging/+simple

# Gymnos packages
gymnoscamera==0.2

# Pypi packages
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
jsonpickle==1.2
MarkupSafe==1.1.1
numpy==1.16.4
opencv-python==4.1.0.25
Werkzeug==0.15.4
